/*
 * Reset and Grid Styles 
 * Grid brought to you by Bootstrap
 */

@import '_grid';

/*
 * Font-face Styles
 * Remove if you prefer to use your own font-face.
 */

@import '_fonts';

h1, h2, h3, h4, h5 {
	font-family: $font-family-default;
}
h1 {font-size: $font-size-h1}
h2 {font-size: $font-size-h2}
h3 {font-size: $font-size-h3}
h4 {font-size: $font-size-h4}
h5 {font-size: $font-size-h5}

p {
	font-family: $font-family-default;
	color: black
}