/*
 * #Catalina
 *
 * Multi device layout styles to build your web application. 
 * Brought to you by #Catalina team.
 *
 */


/* 
 * Big Css Reset 
 */
@import '_h5bp';

/*
 * Grid Styles
 * Remove if you prefer to use a CSS library, like Bootstrap
 */

@import '_grid';

/*
 * Font-face Styles
 * Remove if you prefer to use your own font-face.
 */

@import '_fonts';

// icon 
.icon {
  display: inline-block;
  width:24px;
  height:24px;
}